:root {
    font-family: 'Satisfy', cursive;
}

.introduction {
    grid-row: 1;
    grid-column: 2;
    display: grid;
}

#prabhjot-singh {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#prabhjot-singh h2 {
    width: 100%;
}

.introduction h2 {
    margin-top: 0;
}

body {
    display: grid;
    grid-template-rows: minmax(30vh, auto) minmax(20vh, auto) minmax(30vh, auto);
    grid-template-columns: minmax(auto, 20vw) minmax(60vw, auto) minmax(auto, 20vw);
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}

main{
    justify-self: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
}

main ul li{
    list-style-type: none;
    margin-bottom: 1.5em;
}

main:hover .collapsible-section:not(:hover):not(:target){
    visibility: collapse;
    width: 0;
}

.collapsible-section:where(:hover,:target) {
    /* width: 90vw; */
    text-align: center;
}

.collapsible-content{
    text-align: left;
}

.collapsible-section:not(:hover):not(:target)  .collapsible-content:not(:hover):not(:target) {
    visibility: collapse;
    height: 0;
    width: 0;
}

#contact-me {
    grid-row: 3;
    grid-column: 2;
}

.contact-form, form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact-me .contact-details {
    width: 50%;
    display: flex;
}

#contact-me h2, .message {
    width: 100%;
    display: flex;
    margin: 1em 0;
}

#contact-me :is(textarea, input) {
    flex-grow: 1;
    margin-right: 15px;
}

#contact-me label {
    width: 4em;
}

button {
    width: 30px;
    height: 30px;
    border: 0px;
    background-image: url("contact-button.png");
    background-size: contain;
    cursor: pointer;
}